[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
	branch = 0.9.9.7
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
